@use '../base/colors';

.sidebar-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 24rem;
    height: 100vh;
    background-color: lighten(colors.$background, 5%);

    .channel-users {
        width: 100%;
        .sidebar-button {
            display: flex;
            gap: 0.5rem;
            max-height: 4rem;
            width: 100%;
            .avatar {
                border-radius: 50%;
                height: 32px;
                width: 32px;
            }
            &:hover {
                background-color: lighten(colors.$background, 10%);
            }
        }
    }
}
