@use '../base/colors';
.btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    appearance: none;
    color: hsl(0, 0%, 14%);
    background-color: var(--primary);
    padding: 0.5em 2em;
    outline: none;
    border: none;
    &.green {
        background-color: var(--background-success);
        color: var(--text-normal);
    }
}
