.friends {
    .friend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0.5rem;
        &:hover {
            background: var(--background-floating);
        }
        .friend-details {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            .friend-avatar-wrapper {
                width: 36px;
                height: 36px;
                .friend-avatar {
                    border-radius: 900px;
                    height: 100%;
                }
            }
        }
    }
}

.friend-page-buttons {
    padding: 0.7em;
    background-color: var(--background-modifier-accent);
    .friend-page-btn {
        padding: 0.2em 0.5em;
        &.friend-selected {
            background: var(--background-floating);
        }
        border-radius: 7px;
        &.add-friend {
            background-color: hsl(139, 47.3%, 43.9%);
            color: hsl(0, 0%, 100%);
        }
    }
}
