@use '../base/colors';
.input-wrapper {
    display: flex;
    flex-direction: column;
    .input {
        background: colors.$text-input-bg;
        color: var(--text-normal);
        border: none;
        outline: 1px solid colors.$text-input-border;
        padding: 0.7rem;
        height: 3.5rem;
        width: 18rem;
    }
    .input-label {
        margin-left: 1rem;
        margin-bottom: 0.3rem;
    }
}

.input:focus {
    outline: 1px solid lighten(colors.$primary, 10%);
    ~ .input-label {
        transform: scale(1.5);
    }
}

.input2 {
    @apply px-3 py-3 -placeholder-text-muted -text-text-normal relative -bg-channeltextarea-background rounded text-sm border-0 shadow outline-none focus:outline-none;
}
