@use '../base/colors';
.main-seciton {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .scrollable {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        .messages-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 0.7rem;
            .message-item {
                list-style-type: none;
                &:hover {
                    background-color: var(--background-message-hover);
                }
                .message {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    position: relative;
                    left: 1%;
                    .message-contents {
                        .message-header {
                            display: flex;
                            flex-direction: row-reverse;
                            gap: 0.5rem;
                            .date {
                                color: rgba(colors.$text-color, 0.8);
                                font-size: 0.85rem;
                            }
                            .message-username {
                                color: white;
                            }
                        }
                    }
                }
            }
            .messages-wrapper {
                .placeholder-message {
                    display: flex;
                    gap: 1rem;
                    position: relative;
                    left: 1%;
                }
            }
        }
    }
}

.avatar-wrapp {
    height: 32px;
    width: 32px;
    .avatar {
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}

.form-wrapper {
    display: flex;
    gap: 0.2rem;
    padding: 1rem;
    .text-area {
        background: var(--channeltextarea-background);
        padding: 1rem;
        width: 100%;
        border-radius: 0.3rem;
        outline: none;
    }
    .form-send-wrapper {
        height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            background-color: lighten(colors.$background-primary, 15%);
        }
    }
}

@keyframes fadeAnim {
    from {
        filter: opacity(1);
    }
    to {
        filter: opacity(0.4);
    }
}
.p-blob:nth-child(1) {
    animation: fadeAnim 0.7s 0.1s infinite alternate !important;
}
.p-blob:nth-child(2) {
    animation: fadeAnim 0.7s 0.2s infinite alternate !important;
}
.p-blob:nth-child(3) {
    animation: fadeAnim 0.7s 0.3s infinite alternate !important;
}
.p-blob:nth-child(4) {
    animation: fadeAnim 0.7s 0.4s infinite alternate !important;
}
.p-blob:nth-child(5) {
    animation: fadeAnim 0.7s 0.5s infinite alternate !important;
}
.p-blob:nth-child(6) {
    animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}
.p-avatar {
    animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}
// why tf does this not work LIEK WHAT
// @for $row from 1 through 10 {
//     p-blob:nth-child(#{$row}) {
//         animation: fadeAnim 0.7s 0.1s * $row infinite alternate !important;
//     }
// }
