@use '../base/colors';

.sidebar-outer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 14rem;
    height: 100vh;
    background-color: var(--background-secondary);
    // .sidebar-main {
    //     .sidebar-sub {
    //         &:hover {

    //         }
    //     }
    // }
    .channel-users {
        width: 100%;
        .base {
            .sidebar-button {
                padding: 0.3rem;
                display: flex;
                gap: 0.5rem;
                max-height: 4rem;
                width: 100%;
                border-radius: 0.3rem;
                padding: 0.3rem;
                .avatar {
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                }
                &:hover {
                    background-color: lighten(colors.$background-primary, 5%);
                }
            }
        }
    }
    .current-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--background-secondary-alt);
        padding: 1rem;
        width: 100%;
        .cu-container {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
        .settings-icon {
            border-radius: 0.3rem;
            &:hover {
                background-color: var(--background-primary);
                cursor: pointer;
            }
        }
    }
}
