@use '../base/colors';
.mobile-bar-icon {
    display: none;
}
.sidebar-outer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 14rem;
    height: 100vh;
    padding: 0.5rem;
    background-color: var(--background-secondary);
    transition: all 1s ease;
    // .sidebar-main {
    //     .sidebar-sub {
    //         &:hover {

    //         }
    //     }
    // }
    .channel-users {
        width: 100%;
        .base {
            .sidebar-button {
                padding: 0.3rem;
                display: flex;
                gap: 0.5rem;
                max-height: 4rem;
                width: 100%;
                border-radius: 0.3rem;
                padding: 0.3rem;
                .avatar {
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                }
                &:hover {
                    background-color: lighten(colors.$background-primary, 5%);
                }
            }
        }
    }
    .current-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--background-secondary-alt);
        padding: 1rem;
        width: 100%;
        .cu-container {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
        .settings-icon {
            border-radius: 0.3rem;
            &:hover {
                background-color: var(--background-primary);
                cursor: pointer;
            }
        }
    }
}
$barHeight: 2px;
$width: 30px;
//mobile
@media (max-width: 35em) {
    .sidebar-outer {
        position: fixed;
        transform: translateX(-100%);
        .sidbar-head {
            margin-top: 2.5rem;
        }
    }
    .mobile-bar-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 36px;
        gap: 6px;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 3;
        margin: 1rem;
        &.close {
            .bar2 {
                transform: translateX(100px);
            }
            .bar1 {
                transform: rotate(-45deg) translate(-3px, 7px);
            }
            .bar3 {
                transform: rotate(45deg) translate(-4px, -8px);
            }
        }
        .bar1 {
            height: $barHeight;
            width: $width;
            background-color: white;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .bar2 {
            height: $barHeight;
            width: $width;
            background-color: white;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .bar3 {
            height: $barHeight;
            width: $width;
            background-color: white;
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}
